.home{
    width: 100%;
    height: 100vh;
    
}
h1{
    font-size: 60px;
}
.home-btn{
    background-color:  rgb(247, 83, 54);
    color: white !important;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    font-weight: bold;

}